__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
ENV/
env/
.env

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

uploads/*
!uploads/.gitkeep

projectbcfinalD.html
Breast_Cancer(histopathology).ipynb
